section {
    border: 1px black solid;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*h1 {
    width: 100%;
    text-align: center;
    padding: 5px;
    background-color: #00bcd45c;
    margin-bottom: 5px;
}*/

.allclass {
    margin: 5px;
    padding: 5px;
    border: blue 3px solid;
    display: grid;
    grid-template-columns: auto auto;
}

h6 {
  width: 100%;
  text-align: center;
  font-size: large;
}

.tab {
    max-width: 638px;
}